<form action="/course" method="post">
<p>
   <label>Course Name</label> <input value="" name="courseName" /><br>
   <label>Course Duration</label> <input value="" name="courseDuration" /><br>
   <label>Course Fees</label> <input value="" name="courseFees" /><br>
    <button type ="submit">Add Course</button>
</p>
</form>